
<div class="media">

    <div class="youtube1 container">
        <div class="row mb-4">
            <div class="content col-12 col-md-6">
                <h3>How to make home-made Tourniquet? Presented by Dr.Ray</h3>
                <p>
                    Dr.Ray is one of CDM docotor who came to karenni and resuce other life.This videos was filmed by Dr.Ray....Specia thank to Dr.Ray who allowed to use this videos on <a href="https://www.youtube.com/channel/UC50FlDOrpQwYbB4sP7-ylYA">@click4freedom channel</a>
                </p>
            </div>

            <div class="video col-12 col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/1lkiZ-_B1VY?controls=1" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"
                mozallowfullscreen="mozallowfullscreen" 
                msallowfullscreen="msallowfullscreen" 
                oallowfullscreen="oallowfullscreen" 
                webkitallowfullscreen="webkitallowfullscreen"></iframe>
            </div>
        </div>

        <div class="row  mb-4">
            <div class="content col-12 col-md-6">
                <h3>First-aid Kits & Medic backpack preparation for on ground trainings</h3>
                <h5>"When someone get injured, the closest person become a doctor."</h5>
                <p>        The video describes the memory of on-ground trainings and first aid kits preparations in Yangon, Mon, Kayin and Kayah (Karenni). These are the sample of First aid kits & Medic backpacks that we supply after our training. They were designed to become more compact & systematic in order that everyone could help and save traumatized people near them.</p>
            </div>
            <div class="video col-12 col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/C9L6Qk9DVBs?controls=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"  allowfullscreen="allowfullscreen"
                mozallowfullscreen="mozallowfullscreen" 
                msallowfullscreen="msallowfullscreen" 
                oallowfullscreen="oallowfullscreen" 
                webkitallowfullscreen="webkitallowfullscreen"></iframe>
            </div>
        </div>
        <div class="row mb-4">
            <div class="content poem col-12 col-md-6">
                <pre>
အေးစက်စက်လေထုရယ်...
မှောင်မဲနေတဲ့တိမ်တိုက်ရယ် ...
မိုးကပြင်း လေကထန်
မိုးသီးတွေကြွေကျ မိုးပေါက်တွေ​မြေခ။
တောတောင်ထဲက တဲကလေးတွေမှာ 
အမိုးမလုံ အကာမစုံမို့
စိမ်းကားတဲ့ မိုးရယ်မြန်မြန်သာပြန်လှဲ့ပါတော့...</pre>

            </div>

            <div class="fb1 col-12 col-md-6">
                <iframe src="https://www.facebook.com/plugins/video.php?height=504&href=https%3A%2F%2Fwww.facebook.com%2Fraymedicalmovement%2Fvideos%2F1668160703561892%2F&show_text=false&width=560&t=0" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe> 
            </div>
        </div>

        
        <div class="row  mb-4 mt-4">

            <div class="content poem col-12 col-md-6">
                <p>ဒါကတော့ ဒီနေ့မနက် ၆နာရီ လောက်မှာ စစ်လေယာဥ်နှစ်စင်း ​မိုးဗြဲနဲ့နန်းမယ်ခုံမြို့အနီးတဝိုက်မှာ ပျံဝဲနေတဲ့မြင်ကွင်းပဲဖြစ်ပါတယ်။ မြေပြင်နဲ့ အနီးကပ် အနေအထား ယူပြီး ပျံသန်းနေတာတွေ့ရပါတယ်။
ဒီစစ်ခွေးတွေက ကျွန်တော်တို့မှာ လေယာဥ် ပစ်ချနိုင်တဲ့လက်နက် မရှိမှန်းသိလို့ လူပါးဝနေကြတာပါ။
ခုချိန် လေယာဥ်ပစ်လက်နက် တစ်လက်လောက်တော့ လိုချင်မိပေမယ့် အခုက ကျနော်တို့ရဲ့ ရဲဘော်တွေကို မောင်းပြန်ဆင်ပေးဖို့နေနေသာသာ လက်လုပ်လေးတွေနဲ့ ရှေ့တန်းသွားနေကြတာကို ဒီအတိုင်းထိုင်ကြည့်နေရတဲ့အနေအထားမှာရှိနေတော့လည်း..
လိုင်းပေါ်မှာ reactလေးတွေ ပေးနေရုံနဲ့ ကျနော်တို့လိုချင်တဲ့ပန်းတိုင်ကိုမရောက်နိုင်ဘူး။
လက်တွေ့ မြေပြင်မှာ တတ်နိုင်တဲ့​ဘက်ကနေ တကယ်ကူပေးကြပါ.
ကျတော်တို့ရဲ့ ကရင်နီပြည်လေးကို တတ်နိုင်တဲ့ ဘက်က ကူပေးကြပါ။
                </p>
            </div>

            <div class="fb2 col-12 col-md-6">
                <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fraymedicalmovement%2Fvideos%2F1396048567521373%2F&show_text=false&width=267&t=0" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
            </div>
        </div>
    </div>
</div>