
<div class="media">

    <div class="youtube1 container">
        <div class="row mb-4">
            <div class="content col-12 col-md-6">
                <h3>How to make home-made Tourniquet? Presented by Dr.Ray</h3>
                <p>
                    Dr.Ray is one of CDM docotor who came to karenni and resuce other life.This videos was filmed by Dr.Ray....Specia thank to Dr.Ray who allowed to use this videos on <a href="https://www.youtube.com/channel/UC50FlDOrpQwYbB4sP7-ylYA">@click4freedom channel</a>
                </p>
            </div>

            <div class="video col-12 col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/1lkiZ-_B1VY?controls=1" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"
                mozallowfullscreen="mozallowfullscreen" 
                msallowfullscreen="msallowfullscreen" 
                oallowfullscreen="oallowfullscreen" 
                webkitallowfullscreen="webkitallowfullscreen"></iframe>
            </div>
        </div>

        <div class="row  mb-4">
            <div class="content col-12 col-md-6">
                <h3>First-aid Kits & Medic backpack preparation for on ground trainings</h3>
                <h5>"When someone get injured, the closest person become a doctor."</h5>
                <p>        The video describes the memory of on-ground trainings and first aid kits preparations in Yangon, Mon, Kayin and Kayah (Karenni). These are the sample of First aid kits & Medic backpacks that we supply after our training. They were designed to become more compact & systematic in order that everyone could help and save traumatized people near them.</p>
            </div>
            <div class="video col-12 col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/C9L6Qk9DVBs?controls=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"  allowfullscreen="allowfullscreen"
                mozallowfullscreen="mozallowfullscreen" 
                msallowfullscreen="msallowfullscreen" 
                oallowfullscreen="oallowfullscreen" 
                webkitallowfullscreen="webkitallowfullscreen"></iframe>
            </div>
        </div>

        <div class="row  mb-4">
            <div class="content col-12 col-md-6">
                <h3>Mobile car type operation theatre Rx622 interview</h3>
                <p class="indent">
                    ကျန်းမာ​ခြင်းအလင်းတန်းဆေးအဖွဲ့၏
                    တိုက်ပွဲတွေကြားက ရွေ့လျားခွဲခန်း နှင့်ပက်သက်သော  Interview ကို Mizzima နှင့် Irrawady တို့မှ ရွေးချယ်၍ပြန်လည်ဖော်ပြသည်။
                </p>
            </div>
            
            <div class="video col-12 col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_5shCDyXmBI" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>