
<div class="cover">
    <!-- <div class="content">
        <h3>Forward Surgical Team</h3>
    </div> -->
    <div class="imgcarousel">
        <!-- <img src="../../assets/image/photo_2022-07-16_16-28-43.jpg" alt=""> -->
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Random first slide">
              </div>
              <div class="carousel-caption">
                <h3>Mobile car-type operation theatre</h3>
                <p></p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide">
              </div>
              <div class="carousel-caption">
                <h3>Mobile car-type operation theatre</h3>
                <p></p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[2]"  alt="Random third slide">
              </div>
              <div class="carousel-caption">
                <h3>Interior design of tent-type operation theatre</h3>
                <p></p>
              </div>
            </ng-template>

            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img [src]="images[3]"  alt="Random third slide">
                </div>
                <div class="carousel-caption">
                  <h3>Stitching wound</h3>
                  <p></p>
                </div>
              </ng-template>

              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img [src]="images[4]"  alt="Random third slide">
                </div>
                <div class="carousel-caption">
                  <h3>Intra operation for neck injured patient</h3>
                  <p></p>
                </div>
              </ng-template>
          </ngb-carousel>
    </div>

    
</div>
<app-nav></app-nav>

<div class="container">
    <h1>ရွေ့လျားခွဲခန်းအစ</h1>
    <p class="indent">
        ခွဲစိတ်ကုသနိုင် တဲ့ ခွဲခန်းနေရာဌာနတွေကိုလေယာဥ်၊လက်နက်ကြီး စသည်တိုဖြင့် ခနခန အတိုက်ခိုက်ခံရပြီးနောက်မှာ  ဆေးပစ္စည်းများ၊ ဆေးခန်းများ ဟာ တစ်နေရာမှ နောက်ထပ် လုံခြုံနိုင်တဲ့နေရာတွေကို ပြောင်းရွေ့ခဲ့ကြရသည် ။ တိုက်ပွဲနှင့် အနီးအနား မှာ ခွဲခန်းတစ်ခုကို လုပ်ဖိုကြိုးစားပေမယ့်လည်း မ ကြာခနဆိုသလိုနေရာပေါက်ပြီး တိုက်ခိုက် ခံလာရတဲ့အခါမှာ   ရှေ့တန်း နေရာတွေကို စွန့်ခွာခဲ့ကြရတယ်။ 
    </p>

    <div class="img-block right">
        <div class="img">
            <img src="../../assets/image/steelpipes.jpg" alt="">

            <p>
                သံဖရိန်များကို ခွဲခန်းပုံစံတပ်စဥ်ထားစဥ်
            </p>
        </div>
    </div>

    <p class="indent">
        sub center ဆေးခန်းတွေ၊ နေအိမ်တွေကို ခွဲခန်းအဖြစ်ပြောင်းလဲအသုံးပြုဖိုရာလည်း ရွာသူ၊ ရွာသားတွေရဲ့လုံခြုံရေးကို ငဲ့ကွက်သောရင်း ခွဲခန်းဆောက်ဖိုနေရာရရှိရန် ခက်ခဲလာခဲ့တယ်။ ကျန်းမာရေးဝန်ထမ်းတွေမှာ စိတ်မလုံခြုံမူတွေဖြစ်လာတဲ့အခါ လက်နက်ကြီးကျတဲ့နေရာတွေနဲ့ဝေးတဲ့ နေရာတွေကို ရောက်သွားစေခဲ့တယ်။
    </p>

    <p class="indent">
        ဆေးရုံ၊ ဆေးခန်းတွေကို ပြန်လည်  စတင်နိုင်ခဲ့ပေမယ့်  ဒဏ်ရာရရှိတဲ့ရဲဘော်တွေကို ပိုဆောင်တဲ့အခါ  တိုက်ပွဲဖြစ်ပွားရာနေရာမှ ၁ နာရီ ၂နာရီလောက်သွားရတယ်။တချိုနေရာတွေဆို ၃ ၄နာရီလောက်ထိ သွားရတာမျိူးတွေထိရှိပါတယ်။တိုက်ပွဲကနေ ကယ်ထုတ်တဲ့အချိန်ကလည်း ခန့်မှန်းခြေ ၁နာရီလောက်ကြာမြင့် နိုင်တာကြောင့် အသက်အန္တာရယ် စိုးရိမ်ရတဲ့လူနာတွေဟာ ဆေးရုံ အထိ မရောက်နိုင်ခဲ့ကြဘူး။
    </p>

    <p class="indent">
        ဒဏ်ရာပြင်းထန်တဲ့ရဲဘော်တချိုကတော့ဆေးရုံဆေးခန်းသွားရာ လမ်းပေါ်မှာ သေဆုံးခဲ့ကြတယ်။ ဒါကြောင့်ရွေ့လျားခွဲခန်းနဲ့  ခွဲစိတ်ကုသရေးအဖွဲ ကအချိန်မှီခွဲစိတ်ပြီး အသက်ကယ်နိုင်ဖိုအတွက် တစ်ခုတည်းသော အဖြေဖြစ်လာခဲ့တယ်။
    </p>

    <h1 class="mt-4">တဲဖြင့်ပြုလုပ်သော ရွေ့လျားခွဲခန်း</h1>


    
    <p class="indent">
        အသက်တွေကို တစ်ချောင်းဆိုတစ် ချောင်း နှစ်ချောင်းဆိုနှစ်ချောင်း ရအောင်လိုကယ်တင်မယ်ဆိုတဲ့အတွေးနဲ့ ကျွန်တော်တို တဲနှင့်ပြုလုပ်သောခွဲခန်း (Tent type Operation theatre) ကို စတင်ခဲ့တယ်။ ၂၀၂၂ ဇန်နဝါရီလကစပြီး ဒီးမော့ဆိုမြိုနယ်တွင်းကို စစ်ကောင်စီက လေကြောင်းမှ ဗုံးကြဲတိုက်ခိုက်ခဲ့တာယ်။ 
    </p>

    <div class="img-block">
        <div class="img">
            <img src="../../assets/image/temppo.jpg" alt="">

            <p>
                ပြောင်ချော်မိုးကာစများ ပတ်ထားသည့် ခွဲစိတ်ခန်းကို အပေါ်စီးမှ မြင်ရစဥ်
            </p>
        </div>
    </div>

    <p class="indent">
        အဲ့ဒီ့နောက်ပိုင်းကောင်းကင်ထက်မှာ လေယာဥ်တွေ တောက်လျှောက်ဝဲပျံ ပြီးတော့ အခြေပြုထားတဲ့ Base တေရှိတဲ့နေရာတွေ၊ ဆေးရုံဆေးခန်းရှိတဲ့ နေရာတွေကို လက်နက်ကြီးနဲ့ပစ်တာ၊ လေယာဥ်ဗုံးတွေ မကြာခန ကျဲခဲ့တာကြောင့်မလို အခြားဆေးရုံဆေးခန်း   တွေလည်း ထပ်ပြီးတော့ ပြောင်းရွှေ့ခဲ့ရပြန်တယ်။ ဒါကြောင့် ဆေးရုံ၊ ဆေးခန်းများနဲ့ ဝေးကွာတဲ့
        ရှေ့တန်းစစ်မြေပြင်အနီးမှာ အခြေစိုက်ပြီး စစ်ဘေးရှောင်ဒေသခံပြည်သူများနဲ့ ရဲဘော်များကို အချိန်မီ ဆေးကုသမှုပေးနိုင်ရေးအတွက် ဖြုတ်တပ်ရွေ့ပြောင်းရလွယ်တဲ့ ယာယီတဲပုံသဏ္ဍာန် ခွဲစိတ်ခန်း (Tent-type operatiom theatre) ကို တောတွင်းတစ်နေရာမှာအပျောက်ထားပြီး  ဖန်တီးအသုံးပြုခဲ့တာ ဖြစ်ပါတယ်။ ဒီခွဲခန်းကို ၂၀၂၂ ခုနစ် မတ်လပိုင်း ကရင်နီပြည်နယ်အတွင်းက မိုးဗြဲတိုက်ပွဲ၊ နောင်ပုလဲတိုက်ပွဲများအတွင်းမှာ အသုံးပြုခဲ့ပါတယ်။ 
    
    </p>




    <div class="img-block right">
        <div class="img">
            <img src="../../assets/image/operation.jpg" alt="">

            <p>
                လည်ပင်းထိသောလူနာအား ခွဲစိတ်ပေးနေစဥ်
            </p>
        </div>
    </div>

    <p class="indent">
        အဆိုပါယာယီတဲသဏ္ဍာန် ခွဲစိတ်ခန်းအတွင်းမှာ လက်နက်ကြီးထိမှန်တဲ့ ၂ ဦး၊ မိုင်းထိမှန်တဲ့ လူနာ ၁ ဦး၊ လည်ပင်းကို RPG ထိမှန်တဲ့ လူနာ ၁ ဦး တိုကို အရေးပေါ် အသက်ကယ်ဆယ်နိုင်ခဲ့ပါတယ်။
    </p>


    <p class="indent">
        အရင်ကဆို စစ်မြေပြင်မှာ ဒဏ်ရာရလာတဲ့ လူနာတွေကို ကျတော်တိုက ကြုံတဲ့ အိမ်ထဲခေါ်ပြီး ခွဲစိတ်ရတယ်။ ကျတော်တို ခွဲနေတဲ့ အိမ်တွေနားကိုလည်း လက်နက်ကြီးတွေ ကျတယ်။ အသက်ကယ်နိုင်ဖို အရေးကြီးတာကြောင့် ရင်ဘတ်ကို ပိုက်ထည့်ရတာ၊ လည်ပင်းထဲပိုက်ထည့်ရတာ စတာတွေကို အရင်က မြေပြင်ပေါ်မှာလုပ်တယ်၊ ဖိုးဝှီးကား (4 wheel car) ပေါ်မှာလုပ်ရတယ်။ အဲဒီလိုဆို ပိုးဝင်နိုင်ခြေက များတယ်။ ဒါကြောင့် ဒီ Tent-type OT ကို သုံးခဲ့တာပါ။
    </p>


    

    <p class="indent">
        နိုင်ငံတကာမှာ အသုံးပြုတဲ့ canvas တွေလို အန္တရာယ်ကျရောက်နေတဲ့ နေရာမှာ အခြေစိုက်ပြီး အရေးပေါ် အသက်ကယ်နိုင်ဖိုနဲ့ ပြောင်းရွေ့ရလွယ်ကူဖို ရည်ရွယ်ပါတယ်။ canvas တခုရဲ့ တန်ဖိုးဟာ ကျပ် သိန်း ၇၀ ဝန်းကျင် ရှိတာကြောင့်၊ ဖြုတ်တပ်ရွှေ့ပြောင်းရလွယ်ကူပြီး စရိတ်နည်းပါးအောင် ဖန်တီးထားတဲ့ ယာယီတဲသဏ္ဍာန် ခွဲစိတ်ခန်းကို သိန်း ၃၀ ဝန်းကျင်နဲ့ ပြုလုပ်အသုံးပြုပြီးအသက်ကယ်ဖိုကြိုးစားခဲ့ပါတယ်။
    </p>

    <div class="container">
        <div class="row g-2 list-flex">
                <div class="img col-12 col-md-4 offset-md-1">
                        <img src="../../assets/image/tempoary.jpg" alt="">
            
                        <p>
                            ခွဲခန်းဆောက်လုပ်ရာတွင် အသုံးပြုသည့် သံဖရိန်များ
                        </p>
                </div>
                <div class="img col-12 col-md-4 offset-md-1">
                    <img src="../../assets/image/tent-type01.jpg" alt="">
        
                    <p>
                        ယာယီတဲသဏ္ဍာန်ခွဲစိတ်ခန်းအတွင်းပိုင်း
                    </p>
                </div>
        </div>
    </div>


    
</div>