.container {

    .indent {
        text-indent: 70px;
    }

    p {
        line-height: 35px;
        font-size: 18px;
    }

    .img-block {
        width: 40%;
        float: left;
        // clear: right;
        margin: 1em;
        .img {
            width: 100%;
            position: relative;
            img {
                display: block;
                width: 100%;
            }

            p {
                position: absolute;
                bottom: 0;
                color: white;
                background-color: rgba(0, 0, 0, 0.519);
                width: 100%;
                margin: 0;
                padding: 1em;
                text-align: center;
            }
        }
    }

    .right {
        float: right;
    }

    .list-flex {
        .img {
            position: relative;
            padding: 0;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }

            p {
                position: absolute;
                bottom: 0;
                left: 0;
                color: white;
                width: 100%;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.429);
                margin: 0;

            }
        }
    }
}

.cover {
    // position: relative;
    width: 100%;
    margin-top: 81px;

    .imgcarousel img{
        width: 100%;
        height: 400px;
    }

    
}
@media only screen and (max-width: 1200px) {
    .container {
        .img-block {
            width: 90%;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .cover {
        margin-top: 72px;
        background-color: black;
        .imgcarousel {
            text-align: center;
            img {
                height: 600px;
                width: 60%;
            }
        }
    }
}