.navbaro {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: white;
    box-shadow: 0px 0.5px 11px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 3000;

    li {
        
        width: 200px;
        height: 70px;
        opacity: 0.9;
        line-height: 70px;
        text-align: center;
        display: block;
        position: relative;
        a {
            display: block;
            color: black;
            text-decoration: none;
            height: 100%;
            text-align: center;

            img {
                
                display: block;
                width: 50%;
                height: 50%;
                margin: auto;
            }
        }

        a:hover {
           
            opacity: 1;
        }
    }


    li.nav-logo a {
        width: 70%;
        margin: auto;
         img {
             
             display: block;
             width: 50%;
             height: 100%;
            //  filter: invert(43%) sepia(88%) saturate(2034%) hue-rotate(164deg) brightness(98%) contrast(101%);
             border-radius: 70px;
             padding: 4px;
         }
    }

    li.donate a {
        border-left: 0.5px solid black;
        opacity: 1;
        color: black;
        background-color: lightblue;
    }

    li.toggle {
        display: none;
    }

    li.action {
        fa-icon {
            color: black;
            margin-right: 40px;
        }

        
        ul.action_ul {
            width: 500px;
            background-color: white;
            z-index: 1000;
            max-height: 0px;
            overflow: hidden;
            transition: max-height 0.1s ease-in-out;
            li {
                width: 100%;
                border-bottom: 1px solid black;
                text-align: left;
               
            }
        }

        ul.action_drop {
            max-height: 200px;
        }
    }

    li.language {
        
            fa-icon {
                float: right;
                margin-right: 90px;
            }

            ul {
                background-color: white;
                text-align: center;
                padding: 0;
                max-height: 0px;
                overflow: hidden;
                transition: max-height 0.1s ease-in-out;

                li {
                    border-bottom: 1px solid black;

                    span {
                        float: right;
                        margin-right: 40px;
                    }
                }
            }

            ul.language_toggle {
                max-height: 200px;
            }
        
    }

    li.language:hover {
        cursor: pointer;
    }

    li.action:hover {
        cursor: pointer;
    }
}


@media only screen and (max-width: 600px) {
        .navbaro {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            max-height: 5em;
            width: 100%;
            transition: max-height 0.2s;
            background-color: white;

            li {
                width: 90%;
                height: 40%;
                margin: auto;
                
                a {
                    text-align: left;
                    
                    opacity: 0.7;
                    border-bottom: 0.5px solid black;
                    padding: 0px 0px 0px 7px;
                    color: black;

                    img {
                        display: block;
                        margin: 0;
                    }
                    
                }


                a:hover {
                    opacity: 1;
                  
                }

            }

            li:first-child a {
                border: none;
            }

            li.toggle {
                display: block;
                position: absolute;
                width: 50px;
                height: 60px;
                line-height: 60px;
                
                top: 20px;
                right: 0;
                color: blue;
                opacity: 0.7;
                transition: transform 0.5s;
                font-size: x-large;
            }
            

            li.donate {
                // display: none;
                a {
                    background: none;
                    border: none;
                    border-bottom: 1px solid black;
                }
            }


            li.toggle.click {
                opacity: 1;
                transform: rotate(45deg);
            }

            li.nav-logo a:hover {
                border-bottom: none;
            }


            li.nav-logo {
                top: 15px;
            }


            li.nav-logo a {
                margin-left: 0;
                opacity: 1;
                

                img {
                    display: block;
                    width: 65px;
                    height: 65px;
                    border: none;
                }
            }

            li.action {

                fa-icon {
                    color: blue;
                    float: right;
                }

                ul.drop {
                    li {
                        text-align: left;
                        font-size: 14px;
                        border-bottom: 1px solid black;
                        
                    }
                }
                
            }

            li.language {
                
                    fa-icon {
                        margin-right: 40px;
                        color: blue;
                    }

                    ul {
                        max-height: 0px;
                        li {
                            span {
                                margin: 0;
                            }
                        }
                    }
            
            }


            
        }  
        .navbaro.click {
            max-height: 50em;
        }

        // li.drop {

        //     text-align: left;
        //     font-size: 14px;
            
        //     ul {
        //         li {
        //             border-bottom: 1px solid black;
        //             margin-right: 0;
        //             text-align: right;
        //         }
        //     }
    
        // }

}