<ul class="navbaro" [class.click]="toggl">
    
    <li class="nav-logo">
        <a routerLink=""><img src="../../assets/image/logoresize.png" height="10" width="10" alt=""></a>
        
    </li>
    <li class="whoweare">
        <a routerLink="/whoweare">Who we are</a>
    </li>
    <li class="action">
        
        <a (click)="drop_method()">Action <fa-icon class="plus" [icon]="['fas', 'arrow-down']"></fa-icon></a>
        <ul class="drop" *ngIf="drop"> 
            <li>Training and medical supply project</li>
            <li routerLink="/surgical">Forward Surgical Team / Mobile surgical team</li>
            <li>Primary Health Care to IDPs & civilians</li>
        </ul>
    </li>
    <li class="media">
        <a routerLink="/sorry">media</a>
    </li>

    <li class="donate">
        <a routerLink="/sorry">Donate</a>
    </li>
    <li class="toggle"  [class.click]="toggl">
        <fa-icon (click)="toggle()" class="plus" [icon]="['fas', 'plus']"></fa-icon>
    </li>
</ul>