<div class="card-list container">
    <div class="row justify-content-between">
        <div class="whoarewe col-12 col-md-5 mt-3">
            <h3>Who we are</h3>
            <h5>Founding of RAY : Medical Movement</h5>
            <p [class.mm]="language === 'mm'">
                {{language === "mu" ? para01[0] : para01[1]}}
            </p>
    
            <a class="btn btn-outline-info" routerLink="/whoweare">See more</a>
        </div>
    
        <div class="action col-12 col-md-5 mt-3">
            <h3>Action</h3>
            <p [class.mm]="language === 'mm'">
                {{language === "mu" ? para02[0] : para02[1]}}
            </p>
            <a class="btn btn-outline-info" routerLink="/sorry">See more</a>
        </div>
    </div>

    <div class="row justify-content-between media mt-4 mb-4">
        <div class="media1 col-12 col-md-4 mb-4 mb-md-0">
            <div class="content">
                See more
            </div>
            <div class="img">


                <a routerLink="/sorry">
                    <img src="../../assets/image/training.jpg" alt="">
                </a>
                
            </div>
            
        </div>

        <div class="media2 col-12 col-md-4 mb-4 mb-md-0">
            <div class="content">
                See more
            </div>
            <div class="img">
                <a routerLink="/sorry">
                    <img src="../../assets/image/speach.jpg" alt="">
                </a>
                
            </div>
        </div>

        <div class="media3 col-12 col-md-4">
            <div class="content">
                See more
            </div>
            <div class="img">
                <a routerLink="/sorry">
                    <img src="../../assets/image/photo_2022-07-16_16-45-14.jpg" alt="">
                </a>
                
            </div>
        </div>
    </div>
</div>

