
<div class="cover">
    <!-- <div class="content">
        <h3>Forward Surgical Team</h3>
    </div> -->
    <div class="imgcarousel">
        <!-- <img src="../../assets/image/photo_2022-07-16_16-28-43.jpg" alt=""> -->
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Random first slide">
              </div>
              <div class="carousel-caption">
                <h3>Mobile car-type operation theatre</h3>
                <p></p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide">
              </div>
              <div class="carousel-caption">
                <h3>Mobile car-type operation theatre</h3>
                <p></p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[2]"  alt="Random third slide">
              </div>
              <div class="carousel-caption">
                <h3>Interior design of tent-type operation theatre</h3>
                <p></p>
              </div>
            </ng-template>

            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img [src]="images[3]"  alt="Random third slide">
                </div>
                <div class="carousel-caption">
                  <h3>Stitching wound</h3>
                  <p></p>
                </div>
              </ng-template>

              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img [src]="images[4]"  alt="Random third slide">
                </div>
                <div class="carousel-caption">
                  <h3>Intra operation for neck injured patient</h3>
                  <p></p>
                </div>
              </ng-template>
          </ngb-carousel>
    </div>

    
</div>
<app-nav></app-nav>
<div class="surgical">
    <div class="about">
        <h3>{{language === 'mu' ? h1[0] : h1[1]}}</h3>
        <p [class.mm]="language === 'mm'">
            {{language === 'mu' ? para01[0] : para01[1]}}     
        </p>
    </div>

    <div class="objective">
        <h3>Objectives</h3>
        <ol>
            <li *ngFor="let li of language === 'mu' ? para08mu : para08mm">
                {{li}}
            </li>
        </ol>
    </div>

    <div class="experience">
        <h3>{{language === 'mu' ? h2[0] : h2[1]}}</h3>

        <div class="training-img">
            <div class="img">
                <img src="../../assets/image/operation.jpg" alt="">
                <p>
                    {{language === 'mu' ? para10[0] : para10[1]}} 
                </p>
            </div>
        </div>
        
        <p [class.mm]="language === 'mm'">
            {{language === 'mu' ? para02[0] : para02[1]}} 
        </p>


        

        
        <p [class.mm]="language === 'mm'">
            {{language === 'mu' ? para03[0] : para03[1]}} 
        </p>


        
        <p [class.mm]="language === 'mm'">
            {{language === 'mu' ? para05[0] : para05[1]}} 
        </p>

        <!-- <div class="training-img exp-img container-fluid p-4 mt-4 mb-4">
            <div class="row">

                <div class="img  offset-md-1 col-md-5">
                    <img src="../../assets/image/fleeding.jpg" alt="">
                </div>

                <div class="content">
                    <p>
                        {{language === 'mu' ? para06[0] : para06[1]}}
                    </p>
                </div>
    
            </div>
    
        </div> -->


        <p [class.mm]="language === 'mm'">
            {{language === 'mu' ? para07[0] : para07[1]}}
        </p>

        <!-- <div class="training-img exp-img container-fluid p-4 mt-4 mb-4">
            <div class="row">
                <div class="content col-md-5 offset-md-1">
                    <p>
                        {{language === 'mu' ? para09[0] : para09[1]}}
                    </p>
                </div>

                <div class="img col-md-5">
                    <img src="../../assets/image/onground02.jpg" alt="">
                </div>


    
            </div>
        </div> -->
    </div>
    <h3>Mobile Tent type operation Theatre</h3>
    
        <div class="container-fluid tent-type mt-4 p-4">

            <div class="row">
                <div class="img1 col-12 mb-4 col-md-4 p-md-3">
                    <div class="content">
                        <p>{{language === 'mu' ? imgcont[0] : imgcont[1]}}
                            <a routerLink="/tent-type" class="btn btn-outline-light">See more</a>
                        </p>
                        
                    </div>
    
                    <div class="img">
                        <img src="../../assets/image/surgical.jpg" alt="">
                    </div>
                </div>
            

                <div class="img1 col-12 mb-4 col-md-4 p-md-3">
                    <div class="content">
                        <p>
                            {{language === 'mu' ? imgcont02[0] : imgcont02[1]}}
                            <a routerLink="/tent-type" class="btn btn-outline-light">See more</a>
                        </p>
                    </div>
    
                    <div class="img">
                        <img src="../../assets/image/tent-type03.jpg" alt="">
                    </div>
                </div>

           

                <div class="img1 col-12 mb-4 col-md-4 p-md-3">
                
                    <div class="content">
                        <p>
                            {{language === 'mu' ? imgcont03[0] : imgcont03[1]}}
                            <a routerLink="/tent-type" class="btn btn-outline-light">See more</a>
                        </p>
                    </div>
    
                    <div class="img">
                        <img src="../../assets/image/tent-type01.jpg" alt="">
                    </div>
                </div>
    
                <div class="img1 col-12 mb-4 col-md-4 p-md-3">
                    <div class="content">
                        <p>
                            {{language === 'mu' ? imgcont04[0] : imgcont04[1]}}
                            <a routerLink="/tent-type" class="btn btn-outline-light">See more</a>
                        </p>
                    </div>
    
                    <div class="img">
                        <img src="../../assets/image/tent-type02.jpg" alt="">
                    </div>
                </div>
            </div>

    </div>

    <h3>Mobile car-type Operation theatre</h3>

    <div class="container-fluid tent-type mt-4 p-4">

        <div class="row">
            <div class="img1 col-12 mb-4 col-md-4 p-md-3">
                <div class="content">
                    <p>
                        {{language === 'mu' ? imgcont05[0] : imgcont05[1]}}
                        <a routerLink="/car-type" class="btn btn-outline-light">See more</a>
                    </p>
                </div>

                <div class="img">
                    <img src="../../assets/image/image02.jpg" alt="">
                </div>
            </div>

       

            <div class="img1 col-12 mb-4 col-md-4 p-md-3">
            
                <div class="content">
                    <p>
                        {{language === 'mu' ? imgcont06[0] : imgcont06[1]}}
                        <a routerLink="/car-type" class="btn btn-outline-light">See more</a>
                    </p>
                </div>

                <div class="img">
                    <img src="../../assets/image/car-type03.jpg" alt="">
                </div>
            </div>

            <div class="img1 col-12 mb-4 col-md-4 p-md-3">
                <div class="content">
                    <p>
                        {{language === 'mu' ? imgcont07[0] : imgcont07[1]}}
                        <a routerLink="/car-type" class="btn btn-outline-light">See more</a>
                    </p>
                </div>

                <div class="img">
                    <img src="../../assets/image/image0.jpg" alt="">
                </div>
            </div>

            <div class="img1 col-12 mb-4 col-md-4 p-md-3">
                <div class="content">
                    <p>{{language === 'mu' ? imgcont08[0] : imgcont08[1]}}
                        <a routerLink="/car-type" class="btn btn-outline-light">See more</a>
                    </p>
                    
                </div>

                <div class="img">
                    <img src="../../assets/image/car-type01.jpg" alt="">
                </div>
            </div>
        </div>

</div>
</div>