<div class="surgical">
    <div class="about">
        <h3>Mobile / Forward Surgical team</h3>
        <p [class.mm]="language === 'mm'">
            {{language === 'mu' ? para01[0] : para01[1]}}     
        </p>
    </div>

    <div class="objective">
        <h3>Objectives</h3>
        <ol>
            <li *ngFor="let li of language === 'mu' ? para08mu : para08mm">
                {{li}}
            </li>
        </ol>
    </div>

    <div class="experience">
        <h3>Experiences of Forward Surgical Team </h3>

        
        <p [class.mm]="language === 'mm'">
            {{language === 'mu' ? para02[0] : para02[1]}} 
        </p>

        <div class="training-img container-fluid p-4 mt-4 mb-4">
            <div class="row">
    
                <div class="img col-md-5 offset-md-1">
                    <img src="../../assets/image/operation.jpg" alt="">
                </div>

                <div class="content col-md-5 offset-md-1">
                    <p>
                        "Content Paragraph"
                    </p>
                    
                </div>

            </div>
    
        </div>
        

        
        <p [class.mm]="language === 'mm'">
            {{language === 'mu' ? para03[0] : para03[1]}} 
        </p>

        <div class="training-img container-fluid p-4 mt-4 mb-4">
            <div class="row">
    
                <div class="content col-md-5 offset-md-1">
                    <p>
                        {{language === 'mu' ? para04[0] : para04[1]}} 
                    </p>
                    
                </div>
    
                <div class="img col-md-5">
                    <img src="../../assets/image/burned_house.jpg" alt="">
                </div>
    
            </div>
    
        </div>

        
        <p [class.mm]="language === 'mm'">
            {{language === 'mu' ? para05[0] : para05[1]}} 
        </p>

        <div class="training-img container-fluid p-4 mt-4 mb-4">
            <div class="row">

                <div class="img  offset-md-1 col-md-5">
                    <img src="../../assets/image/fleeding.jpg" alt="">
                </div>

                <div class="content col-md-5">
                    <p [class.mm]="language === 'mm'">
                        {{language === 'mu' ? para06[0] : para06[1]}}
                    </p>
                </div>
    
            </div>
    
        </div>


        <p [class.mm]="language === 'mm'">
            {{language === 'mu' ? para07[0] : para07[1]}}
        </p>

        <div class="training-img container-fluid p-4 mt-4 mb-4">
            <div class="row">
                <div class="content col-md-5 offset-md-1">
                    <p>
                        "On ground airway intervention for neck injury patient in Dó-Ngan-Khă"
                    </p>
                </div>

                <div class="img col-md-5">
                    <img src="../../assets/image/onground02.jpg" alt="">
                </div>


    
            </div>
    
        </div>
    </div>
</div>