.surgical {
    margin: 1em 1em 1em 1em;
    font-family: "PT Sans Pro", pt-sans-pro, "Sans Serif";
    p.mm {
        line-height: 30px;
        text-indent: 40px;
    }
    .experience {
        .training-img {
            
            padding: 0;
            position: relative;
            // display: flex;
            // flex-direction: row;
            // justify-content: space-around;
            // .row {
            //     height: 200px;
            // }
    
            .content {
                
             
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: white;
                position: absolute;
                bottom: 24px;
                // width: 60%;
                background-color: rgba(0, 0, 0, 0.5);
    
                p {
                    margin: 0;
                    font-size: 10px;
                    
                }
            }
    
            .img {
                // width: 100%;
                // height: 100%; 
                display: flex;
                align-items: center;
                img {
                    display: block;
                    width: 100%;
                    // height: 60%;
                }
    
            }
        }
    }

    div.tent-type {
        div.img1 {
            position: relative;
            padding: 0;
            
            div.content {
                 
                display: flex;
                align-items: center;
                // justify-content: center;
                color: white;
                z-index: 2000;
                position: absolute;
                bottom: 0px;
                // width: 100%;
                // height: 25%;
                background-color: rgba(0, 0, 0, 0.5);
    
                p {
                    margin: 0;
                    font-size: 10px;
                    padding: 1em;

                    a {
                        font-size: 10px;
                        // display: block;
                        // width: 50%;
                    }
                    
                }
                
 
            }
            div.img {
                height: 100%;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}


@media only screen and (min-width: 600px) {
    .surgical {
        // p.mm {
        //     line-height: 30px;
        // }
        font-size: 20px;
        .experience {
            .training-img {
                background-color: rgba(0, 0, 0, 1);
                // position: none;

                .content {
                    position:relative;
                    background: none;
                    // width: auto;
                    p {
                        font-size: 30px;
                        color: white;
                    }
                }

                .img {
                    img {
                        // width: 100%;
                    }
                }
            }
        }

        div.tent-type {
            .row {
                div.img1 {

                    div.content {
                        bottom: 20px;
                        width: 70%;
                        p {
                            font-size: 18px;
                            padding: 1em;
                        }
                    }
                    img {
                        display: block;
                        width: 50%;
                      
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 600px) {
    .surgical {
        .experience {
            .training-img {
                .content {
                    width: 70%;
                    left: 23%;

                    p {
                        padding: 1em;
                    }
                }
            }
        }
    }
}

.cover {
    // position: relative;
    width: 100%;
    margin-top: 81px;

    .imgcarousel img{
        width: 100%;
        height: 400px;
    }

//     .content {
//         position: absolute;
//         color: white;
//         width: 40%;
//         height: 30%;
//         background-color: rgba($color: #000000, $alpha: 0.4);
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         vertical-align: middle;
//         bottom: 6px;

//         h3 {
//             margin: 0;
//             width: 100%;
            
//             text-align: center;
//         }

//     }
    
}

@media only screen and (min-width: 600px) {
    .cover {
        margin-top: 72px;
        .imgcarousel {
            img {
                height: 600px;
            }
        }
    }
}