<div class="nav_">
    <ul class="parent">
        <li>
            <h5>Training</h5>
            <ul>
                
                <li><a routerLink="/training">First Aid training</a></li>
                <li><a routerLink="/medic">Medic Training</a></li>
            </ul>
        </li>

        <li>
            <h5>Forward Surgical Team / Mobile surgical team</h5>
            <ul>
                <li><a routerLink="/surgical">Frontline Surgical</a></li>
                <li><a routerLink="/tent-type">Tent Type Operation</a></li>
                <li><a routerLink="/car-type">Car Type Operation</a></li>
            </ul>
        </li>
    </ul>
</div>