<div class="whoweare">
    <div class="vision">
        <h2>Vision</h2>
        <p [class.mm]="language === 'mm'">{{language === "mu" ? para01[0] : para01[1]}} </p>
    </div>

    <div class="mission">
        <h2>Mission</h2>
        <p [class.mm]="language === 'mm'">{{language === "mu" ? para02[0] : para02[1]}}</p>
    </div>

    <div class="objective">
        <h2>Objective</h2>
        <ul>
            <li *ngFor="let li of language === 'mu' ? para03mu : para03mm">
                {{li}}
            </li>
        </ul>
    </div>

    <div class="founding">
        <h2>Founding of Ray</h2>
        <p [class.mm]="language === 'mm'">
           {{language === "mu" ? para04[0] : para04[1]}}
        </p>
    </div>

    <div class="training-img container-fluid mt-4 mb-4">
        <div class="row">

            <div class="content col-6 col-md-5 offset-md-1">
                <p>
                    "Doctor, nurses and patients running away due to motor shelling during surgical care  in Daw-Ngan-Khar"
                </p>
                
            </div>

            <div class="img col-6 col-md-5">
                <img src="../../assets/image/fleeding.jpg" alt="">
            </div>

        </div>

    </div>


    <div class="funding">
        <p [class.mm]="language === 'mm'">
            {{language === "mu" ? para05[0] : para05[1]}}    
        </p>
    </div>

    <div class="projects">
        <h2>Our projects</h2>

        <ul *ngIf="language === 'mu'">
            <li>Training and medical supply project
                <ul>
                    <li>First aid Training & First aid kits supply</li>
                    <li>Medic Training and medic back pack supply </li>
                    <li>Trauma Refresher Courses for doctor and nurses & medical equipment supply</li>
                </ul>
            </li>
            <li>
                Forward Surgical Team/ Mobile surgical team project
            </li>

            <li>
                Primary Health Care to IDPs & civilians
            </li>
        </ul>

        <ul *ngIf="language === 'mm'">
            <li>Training and medical supply project
                <ul>
                    <li>အရေးပေါ်အသက်ကယ်သင်တန်းများပေးခြင်းနှင့် အရေးပေါ်ဆေးအိတ်ထောက်ပံ့ခြင်း။</li>
                    <li>တပ်ရင်းတပ်ဖွဲများတွင် ဆေးတပ်များပေါ်ပေါက်၍ အင်အားပိုမိုကောင်းမွန်လာစေရန် ဆေးတပ်သင်တန်းပေးခြင်းနှင့် ဆေးအိတ်များထောက်ပံ့ပေးခြင်း။</li>
                    <li>ဆရာဝန်သူနာပြုတိုအတွက် ထိခိုက်ဒဏ်ရာပြန်လည်လေ့ကျင့်ခြင်းသင်တန်းနှင့် လိုအပ်သောဆေးပစ္စည်းများထောက်ပံ့ခြင်း။</li>
                </ul>
            </li>
            <li>
                ရှေ့တန်းခွဲစိတ်ကုသရေးအဖွဲ။
            </li>

            <li>
                စစ်ဘေးရှောင်နှင့်ဒေသခံပြည်သူများကို အခြေခံကျန်းမာရေးစောင့်ရှောက်မှုပေးခြင်း။
            </li>
        </ul>

        <div class="img">
            <img src="../../assets/image/teamchart.jpg" alt="">
        </div>
    </div>
</div>