div.container-fluid {
    margin-top: 120px;
    margin-bottom: 100%;

    .row {
        align-items: center;
        background-color: rgba(0, 0, 0, 0.855);
        p {
            font-family: "PT Sans Pro", pt-sans-pro, "Sans Serif";
            font-size: 18px;
            color: white;
        }

        p.p02 {
            text-indent: 30px;
            
        }

        h5 {
            font-size: 18px;
            text-align: right;
            color: white;
            font-weight: normal;
            font-family: "PT Sans Pro", pt-sans-pro, "Sans Serif";
        }
    }

    .donate-img {
        img {
            display: block;
            width: 50%;
            height: 50%;
        }
    }
}


@media only screen and (max-width: 600px)  {
    div.container-fluid {
        margin-top: 110px;
        .row {
            p {
                font-size: 16px;
            }

            h5 {
                font-size: 16px;
            }
        }

        .donate-img {
            img {
                margin: auto;
            }
        }
    }
}