<div class="container-fluid">
    <div class="row p-4">
        <div class="col-12 col-md-5 offset-md-1">
            <div>
                <p>

                    Your generosity migh define the line between the life and death of our people.
                    The people defence force trive on your support and so do we.
                     
                </p>
                <p class="p02">
                    "May the day of freedom come to the people of Myanmar. Until then."
                </p>
         <h5 class="first">Thankfully,</h5>
         <h5>Ray Medical Team</h5>
            </div>
        </div>
        <div class="col-12 mt-4 mt-md-0 col-md-5 offset-md-1">
            <div class="donate-img">
                <img src="../../assets/image/qrcode.jpg" alt="">
            </div>
        </div>
    </div>




</div>