.training {
    margin: 1em;
    p.mm {
        line-height: 30px;
    }
    p {
        text-indent: 30px;
    }

    .container-fluid {
        .row {
            .img {
                position: relative;
                text-align: center;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }

                p {
                    position: absolute;
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0.529);
                    color: white;
                    margin: 0;
                    padding: 2em 0.5em 2em 0.5em;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .training {

        .container-fluid {
            .row {
                .img {
                    p {
                        padding: 0;
                        width: 90%;
                        font-size: 14px;
                        padding: 1em;
                    }
                }
            }
        }
    }
}